<label for="Server">Server Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<p *ngIf="serverCreated; else noServer" class="mt-lg-5">
  {{serverCreateStatus}}
</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<div class="row mt-5 mb-5">
  <div class="col-xs-12 ">
      <button
        class="btn btn-primary"
        (click)="onCreateServer()"
        [disabled]="!allowNewServer"
      >Create Server</button>
  </div>
</div>
 <p [ngStyle]="{backgroundColor: getColor()}"> {{'Server'}} with id {{ serverId }} is {{getServerStatus()}}</p>
