<img class='rounded-image' [src]="recipe.imagePath" height='250px' alt="">
<h3>{{ recipe.name }}</h3>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Manage Recipe
  </a>
  <div class="dropdown-menu" appDropdown aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Add</a>
    <a class="dropdown-item cursor-pointer" (click)="onEdit()">Edit</a>
    <a class="dropdown-item" href="#">Delete</a>
  </div>
</div>
<p>{{recipe.description}}</p>
